mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  span {
    margin: 0 auto;
  }

}

mat-card {
  height: 330px;
  width: 350px;
  top: 175px;
  left: 0;
  margin: 0 auto;
  right: 0;
  background-color: #f9f9fb;

  mat-card-content {
    padding: 24px;

    .login-form {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 40px 0;
    }

    .mat-card-actions button {
      padding: 0 55px;
    }

    .error-login {
      text-align: center;
    }

  }
}

.faded {
  opacity: 0.4;
}

mat-spinner {
  margin-top:100px;
}

button{
  margin:0;
}

#register{
  margin-top:200px;
  margin-left:47%;
}
