.topicUser{
  display:inline-flex;
}

mat-icon{
  margin-top:6px;
}

mat-list-option{
  margin-top: 50px;
}

mat-list .mat-list-item{
  height:auto;
}

.like{
  height:30px;
  width:110px;
}

.like mat-icon{
  margin-bottom: 10px;
  margin-top:0;
}

div button{
  margin-left:50px;
}

.addReplies{
  margin-left:20px;
}

.addReplies mat-icon{
  margin-right:5px;
  margin-top:0;
}


