table {
  width: 80%;
  margin-left:200px;
  margin-right:200px;
  margin-top:50px;
}

.upload-button{
  margin-top:50px;
  margin-left:20px;
  margin-right:200px;
}

.mat-form-field{
  margin-right:30px;
}

#filtering{
  width: 80%;
  margin-left:200px;
  margin-right:200px;
  margin-top:50px;
}

h1{
  width: 80%;
  margin-left:200px;
  margin-right:200px;
  margin-top:50px;
}

.example-container {
  height: 400px;
  overflow: auto;
}

#buttons{
  width: 80%;
  margin-left:200px;
  margin-right:200px;
  margin-bottom: 30px;
}
