.holder {
  width: auto;
  display: inline-block;
  height: auto;
}

.holder img {
  width: 50%;
  height: 50%;
};

img {
  display: block;
  margin-top:20px;
  margin-left: 20px;
  margin-right: auto;
}
