table {
  width: 60%;
  margin-left:20%;
  margin-top:50px;
}

#addProject{
  margin-left:20%;
}

button{
  margin-right:50px;
}

mat-expansion-panel{
  width:20%;
  margin-left:20%;
  margin-top:3%;
}

mat-icon{
  margin-top:13px;
}

h2{
  margin-left:20%;
  margin-top:2%;
}

